html {
  font-size: 1rem;
}
/*
  ¿Qué tamaño de fuente tengo que poner para que mi careto mida 50x50? 0.5rem
  ¿Y para que mida 200x200? 2rem
*/
.smiley {
  font-size: 2rem;
  height: 6.25rem;
  width: 6.25rem;
  line-height: 6.25rem;
  text-align: center;
  font-family: "courier new";
  font-weight: bold;
  font-size: 3.125rem;
  color: #424242;
  background: #ffcc00;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

